.news {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 120px 7%;
  gap: 40px;

  .top-text {
    color: rgb(215, 116, 116);
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
  }

  .title {
    color: rgb(0, 0, 0);
    margin: 0;
    font-family: Poppins;
    font-size: 40px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0%;
    text-align: center;
  }

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .f {
      width: 500px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 5px;
      margin-bottom: 40px;

      input {
        box-sizing: border-box;
        border: 1px solid rgb(235, 235, 235);
        width: 70%;
        padding: 12px 10px;
        height: 45px;
      }
      button {
        background: rgb(0, 0, 0);
        border: none;
        color: rgb(255, 255, 255);
        font-family: "Libre franklin";
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0%;
        text-align: center;
        width: 30%;
        height: 45px;
      }
    }

    .check {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;

      #chekb {
        background: rgb(133, 52, 255);
        border: none;
      }

      label {
        color: rgb(161, 161, 161);
        font-family: "Libre Franklin";
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0%;
        text-align: center;
      }
    }
  }
}

@media (max-width:550px) {
    .news {
        form {
            .f {
              width: 100%;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 10px;

                button {
                    width: 80%;
                }

                input {
                    width: 80%;
                }
            }
        }
    }
}